/* 
	Name: Tianlong Website Violet Theme
	Date Created: 9/20/2014
	Website: Tianlong Website
	Author: Are Lorenz Bergonia
*/

*
{
	outline:none;
	padding:0;
	margin:0;	
}

html
{
	background:url(../images/themes/violet/bgMain.jpg) top center fixed;
	font-family: linkFont, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ffffff;
}

.clear
{
	clear:both;	
}

a
{
	color:#ffffff;
	text-decoration:none;	
}

img
{
	border:none;	
}

ul {
	list-style-type:none;
}

/* =================== FONTS ========================= */

@font-face {
    font-family: linkFont;
    src:url(../fonts/FZLanTingHei-EL-GBK%20Regular.ttf);
}

/* =================== HEADER ========================= */

.siteContentHeaderWrapper {
	width:1000px;
	margin:0 auto;
	height:auto;
	position:relative;
}
.siteContentLogo {
	float: left;
	width: 299px;
	height: 130px;
	background:url(../images/themes/violet/headerLogoBg.png) top center no-repeat;
	padding: 9px 20px 0px 30px;
}
.siteContentHeader {
	width:100%;
	background:url(../images/themes/violet/headerBg.png) top repeat-x;
	height:321px;
}
.siteBreadcrumbs {
	width:100%;
	height:34px;
	background:#280a4d;
	margin:1px 0px;
}
.siteBreadcrumbs p{
	float:right;
	margin-right:10px;
	line-height:35px;
}
.siteBreadcrumbs p span.current {
	font-size:15px;
}
.headerContentNavContainer {
	float:left;
	width:651px;
	height:139px;
}
.headerContentNav {
	width: 100%;
	height: 54px;
}
.headerContentNav .languangeNav {
	float:left;
}
.headerContentNav .languangeNav li {
	float:left;
	width:54px;
	height:49px;
	margin-left:1px;
	text-align:center;
	padding-top:5px;
	background:url(../images/themes/violet/bgHeadnav.png);
}
.headerContentNav .languangeNav li:hover {
	background:#5e009e;
}
.headerContentNav .languangeNav li a{
	width:44px;
	height:44px;
	color:#ffffff;
	font-weight:500;
}
.headerContentNav .loginNav {
	float:right;
}
.headerContentNav .loginNav li {
	float:left;
	width:54px;
	height:49px;
	margin-left:1px;
	text-align:center;
	padding-top:5px;
	background:url(../images/themes/violet/bgHeadnav.png);
}
.headerContentNav .loginNav li:hover {
	background:#5e009e;
}
.headerContentNav .loginNav li a{
	width:44px;
	height:44px;
}
.headerContentNav .loginNav li.account {
	width:108px !important;
}
.headerContentNav .loginNav li.home {
	padding-top:12px !important;
	height:42px !important;
}
.headerContentNav .loginNav li.favorite {
	padding-top:12px !important;
	height:42px !important;
}
.headerContentNav .loginNav li.home a img {
	margin-bottom:8px;
}
.headerContentNav .loginNav li.favorite a img {
	margin-bottom:8px;
}
.siteContentNavContainer .siteNav li {
	float:left;
	width:110px;
	height:110px;
	margin-left:1px;
	text-align:center;
	background:url(../images/themes/violet/bgNav.png);
}
.siteContentNavContainer .siteNav li:hover {
	background:#5e009e;
}
.siteContentNavContainer .siteNav li a{
	width:44px;
	height:44px;
}
.siteContentNavContainer .siteNav li a span{
	font-size:13px;
	font-weight:bold;
}
.siteContentMarquee {
	width:100%;
	height:36px;
	background:#1e043f;
}
.siteContentMarquee p a {
	color:#ffffff;
	font-size:12px;
	line-height:35px;
}
.siteContentMarquee marquee {
	white-space: nowrap;
}

/* =================== BODY ========================= */

.siteContentBody {
	width:100%;
	height:auto;
	margin-bottom:10px;
}
.siteContentBodyWrapper {
	width:1000px;
	margin: 0 auto;
	height:auto;
	position:relative;
}
.siteContentCustomerService {
	position:absolute;
	margin-top:11%;
	left:-56px;
	top:-35px;
	width:49px;
	height:349px;
}
.csContentSideBar li {
	float:left;
	width:49px;
	height:49px;
	margin-bottom:1px;
	text-align:center;
	background:url(../images/themes/violet/bgSocial.png);
}
.csContentSideBar li:hover {
	float:left;
	width:49px;
	height:49px;
	margin-bottom:1px;
	text-align:center;
	background:#5e009e;
}
.siteContentContainer {
	width:1000px;
	height:auto;
}
.siteBodyContentLeft {
	width:657px;
	height:auto;
	float:left;
	margin-right:10px;
}
.siteBodyContentRight {
	width:333px;
	height:auto;
	float:left;
}
.siteBodyContentHP .link01 {
	display:block;
	float:left;
	width:166px;
	height:166px;
	background:url(../images/themes/violet/hpImg01.png);
	cursor:pointer;
}
.siteBodyContentHP .link02 {
	display:block;
	float:left;
	width:166px;
	height:333px;
	background:url(../images/themes/violet/hpImg02.png);
	cursor:pointer;
}
.siteBodyContentHP .link03 {
	display:block;
	float:left;
	width:166px;
	height:166px;
	background:url(../images/themes/violet/hpImg03.png);
	cursor:pointer;
}
.siteBodyContentHP .link04 {
	display:block;
	float:left;
	width:166px;
	height:166px;
	background:url(../images/themes/violet/hpImg04.png);
	margin-right:1px;
	margin-bottom:1px;
	cursor:pointer;
}
.siteBodyContentHP .link05 {
	display:block;
	float:left;
	width:166px;
	height:166px;
	background:url(../images/themes/violet/hpImg05.png);
	margin-bottom:1px;
	cursor:pointer;
}
.siteLinkLeft {
	width:166px;
	height:333px;
	float:left;
	margin-right:1px;
	margin-bottom:1px;
}

/* =================== BODY -- CONTENT ========================= */

.siteBodyContentStyle {
	width:597px;
	height:auto;
	padding: 44px 30px 27px 30px;
	background:#1d0340;
}
.siteBodyContentStyle h1 {
	font-weight:normal;
	font-size:38px;
	color:#ffffff;
}
.siteBodyContentStyle h5 {
	font-size:11px;
	color:#632a89;
}
.siteBodyContentStyle h2 {
	font-size:18px;
	font-weight:normal;
	line-height:25px;
}
.siteBodyContentStyle h3 {
	font-size:11px;
	font-weight:normal;
	line-height:25px;
}
.siteBodyContentStyle ul li {
	line-height:25px;
}
.siteBodyContentStyle ol li {
	line-height:25px;
}
.siteBodyContentStyle ol.style01 {
	margin-left:25px;
}
.siteBodyContentStyle p {
	line-height:25px;
}
.siteBodyContentStyle ul.style01 {
	margin-left:25px;
}
.siteBodyContentStyle ul.style01 li[type="square"] {
	margin-left:35px;
}
/* =================== BODY -- GOLDEN CHIPS ========================= */

.siteBodyContentGoldenChips .link01 {
	display:block;
	float:left;
	width:166px;
	height:166px;
	background:url(../images/themes/violet/hpImg01.png);
	cursor:pointer;
}
.siteBodyContentGoldenChips .link02 {
	display:block;
	float:left;
	width:166px;
	height:333px;
	background:url(../images/themes/violet/rightImg02.png);
	cursor:pointer;
}
.siteBodyContentGoldenChips .link03 {
	display:block;
	float:left;
	width:166px;
	height:166px;
	background:url(../images/themes/violet/rightImg03.png);
	cursor:pointer;
}
.siteBodyContentGoldenChips .link04 {
	display:block;
	float:left;
	width:166px;
	height:166px;
	background:url(../images/themes/violet/hpImg04.png);
	margin-right:1px;
	margin-bottom:1px;
	cursor:pointer;
}
.siteBodyContentGoldenChips .link05 {
	display:block;
	float:left;
	width:166px;
	height:166px;
	background:url(../images/themes/violet/rightImg05.png);
	margin-bottom:1px;
	cursor:pointer;
}


/* =================== FOOTER ========================= */

.siteContentFooter {
	width:100%;
	height:89px;
	background:url(../images/themes/violet/footerBg.png);
}
.siteContentFooterWrapper {
	width:1000px;
	margin:0 auto;
	height:auto;
}
.siteContentFooterTop {
	width:100%;
	height:44px;
	margin-bottom:1px;
}
.siteContentFooterBottom {
	width:100%;
	height:44px;
}
.siteContentFooterTop h2 {
	font-size:12px;
	color:#531999;
	float:left;
	line-height:40px;
}
.onlineServiceContent {
	float:right;
	width:250px;
	height:39px;	
	background:url(../images/themes/violet/bgFooternav.png);
	text-align:center;
	padding-top:5px;
	cursor:pointer;
}
.onlineServiceContent:hover {
	background:#5e009e;
}
.onlineServiceContent span{
	font-size:20px;
	vertical-align:top;
	line-height:35px;
}
.footerContentClient li {
	float:left;
	width:auto;
	height:44px;
	text-align:center;
	background:#1c0033;
	margin-right:1px;
}
.footerContentClient li img {
	padding:8px 0px;
}
.footerContentNav {
	float:left;
}
.footerContentNav li {
	float:left;
	width:82px;
	height:44px;
	text-align:center;
	margin-right:1px;
	background:url(../images/themes/violet/bgFooternav.png);
}
.footerContentNav li:hover {
	background:#5e009e;
	cursor:pointer;
}
.footerContentNav:last-child {
	margin-right:none;
}
.footerContentNav li a{
	text-align:center;
	font-size:13px;
	line-height:48px;
}
.footerContentNav li.partner {
	width:82px !important;
}
.footerContentNav li.disclaimer {
	width:84px !important;
}